  .headline {
      font-family: helvetica, san-serif;
      line-height: 1em;
      color: #58595b;
      font-size: 20px;
  }


header {
       text-align: center;
}


h1:after {
    content:' ';
    display:block;
    border:2px solid #d0d0d0;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}


  .box1 {
      width: 700px;
      float: left;
      margin: 5px;
      padding: 5px;
      vertical-align: top;
  }


h2 {
    line-height: normal;
    color: #5e5e5e;
    font-size: 16px;
    font-family:  helvetica, sans-serif;
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 0px;
    text-align: center;
}


hr {
    color: lightgrey;
}


p {
    text-align: justify;
    line-height: normal;
    color: #5e5e5e;
    font: 1em helvetica, sans-serif;
}


img {
    float: right;
    padding-right: 15px;
}
