html {
    background: url(homepagefinal.png) no-repeat center center fixed;
    background-size: cover;
}


body,
div,
img,
li,
ul {
		margin: 5px;
		padding: 5px;
	  font-size: 100%;
		vertical-align: baseline;
}


h1 {
	  line-height: normal;
    color: white;
    font: 2.8em "Open Sans Light", sans-serif;
    padding-left: 50px;
}


li a {
    line-height: normal;
    margin: 15px;
    padding: 15px;
    color: white;
    font: 1.65em "Raleway", sans-serif;
    text-decoration: none;
}


li {
    float: right;
}


ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}


li a:hover {
        background-color: #5e5e5e;
}
